@import "tailwindcss";
@import './base.css';

:root {
  --pure-black: #010105;
  --deep-navy: #02061a;
  --dark-blue: #051245;
  --royal-blue: #0c34ba;
  --electric-blue: #053be6;
  --bright-blue: #116af6;
  --light-gray: #bdbcc0;
  --dark-gray: #3b3a42;
}

body {
  font-family: Manrope, sans-serif;
  background: var(--pure-black);
  color: var(--light-gray);
}

.nav-link {
  display: inline-block;
  padding-bottom: 0.2rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  background-image: linear-gradient(var(--electric-blue), var(--electric-blue));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 1px;
  transition:
    background-size 0.2s ease,
    color 0.2s ease;
}

.nav-link:hover,
.nav-link:focus-visible,
.nav-link.is-hover {
  color: var(--bright-blue);
  background-size: 100% 1px;
}
