@import "tailwindcss";
@import './base.css';

:root {
  --pure-black: #010105;
  --deep-navy: #02061a;
  --dark-blue: #051245;
  --royal-blue: #0c34ba;
  --electric-blue: #053be6;
  --bright-blue: #116af6;
  --light-gray: #bdbcc0;
  --dark-gray: #3b3a42;
}

body {
  font-family: Manrope, sans-serif;
  background: var(--pure-black);
  color: var(--light-gray);
}

.nav-link {
  position: relative;
  width: fit-content;
  padding-bottom: 0.125rem;
  text-transform: uppercase;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
  background: var(--electric-blue);
  transition: width 0.2s;
}

.nav-link:hover {
  color: var(--bright-blue);
}

.nav-link:hover::after {
  width: 100%;
}
